[submodule "ofBBController/externalAddons/ofxAnimatable"]
	path = ofBBController/externalAddons/ofxAnimatable
	url = https://github.com/armadillu/ofxAnimatable.git
[submodule "ofBBController/externalAddons/ofxJSON"]
	path = ofBBController/externalAddons/ofxJSON
	url = https://github.com/galsasson/ofxInterface.git
[submodule "ofBBController/externalAddons/ofxInterface"]
	path = ofBBController/externalAddons/ofxInterface
	url = https://github.com/galsasson/ofxInterface.git
